/* Grid == ========================================= */
.box-content {
  width: 600px;
}

label {
  padding: 5px 0;
  display: inline-block;
  width: 100px;
}

/* Boxes and Positioning =========================== */
textarea{
  width: 95%;
  height: 60px;
}

button{
  margin: 10px;
}

.error {
  padding: 10px 0 10px 20px;
  border-radius: 12px;
  border: 3px solid red;
  background-color: #ffb2b2;
}

/* Buttons ========================================= */
.btn {
  display: inline-block;
  margin: 15px;
  padding: 15px;
}

.btn-send {
  border-radius: 12px;
  border: 3px solid #8ac299;
}

/* Style ========================================== */
body {
  width: 1000px;
  margin-left: 15px;
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

header {
  text-align: center;
  margin-top: 20px;
}

footer {
  margin-top: 30px;
}

nav {
  display: inline-block;
  border-radius: 8px; 
  padding: 8px;
  border: 2px solid #ffc649;
}

a{
  text-decoration: none;
}

a:visited{
  color: inherit;
}

a:hover {
  color: #ff6b00; 
}

.message {
  background-color: #e9e9e9;
  padding: 15px;
  margin-bottom: 20px;
  margin-left: 30px;
  width: 400px;
  border-radius: 10px;
  border: 2px solid #777; 
}

.blog_post {
  background-color: #92cd8a;
  padding: 20px;
  margin: 20px 15%;
  border-radius: 10px;
  border: 2px solid #45c235;
}

h1{
  margin-bottom: 10px;
}

h2 {
  font-size: 16px;
  font-style: italic;
  color: #999;
}

p {
  line-height: 66%;
}

#delete {
  display: inline;
  margin-left: 20px;
}

#needed {
  color: red;
}

.separator {
  display: inline;
}

.blog_post_title {
  color: white;
}

#link_on_right {
  float: right;
  margin-right: 10px;
}
