    <h1>About</h1>

    <p>This blog has been created by I&ntilde;igo Torres. Its purpose is purely educative and will teach him how to create a contact form using HTML.</p>
  
    <h3>Contact form:</h3>
    <form class="message" action="/send" method="post">
        <div>
          <label for="name">Your Name:</label>
          <input type="text" name="name">
        </div>

        <div>
          <label for="email">Your e-mail: <span id="needed">*</span></label>
          <input type="email" name="email">
        </div>

        <div>
          <label for="subject">Subject:</label>
          <input type="text" name="subject">
        </div>

        <div>
          <label for="content">Message: <span id="needed">*</span></label>
          <br>
          <textarea name="content"></textarea>
        </div>
        
        <input type="submit" value="Send your message!">

        <!--     
        <p class="btn btn-send">
          <a href="mailto:itorres@peertransfer.com?subject=I wish I could make the subject what you have set it to" >Send your message!</a>
        </p>
        -->
    <form>
