<h1>Admin page</h1>

<p><a href='/admin/messages_view'>View messages</a></p>
<p><a href='/admin/post_submit'>Add another entry to the blog</a></p>
<p><a href='/admin/posts_view'>Delete or update a blog entry</a></p>
