<h1>Admin page</h1>

<p><a href='/admin/view_messages'>View messages</a></p>
<p><a href='/admin/submit_post'>Add another entry to the blog</a></p>
<p><a href='/admin/delete_post'>Delete a blog entry</a></p>
