<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <link href="/css/reset.css" rel="styletsheet">
  <link href="/css/main.css" rel="stylesheet">

  <script src="/scripts/main_script.js"></script>
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">I&ntilde;igo's blog!</a></h1>
      <h2>the coolest blog ever</h2>
    </hgroup>
  </header>

  <div id="main">
    <%= yield %>
  </div>
  
  <footer>
    <nav>
      <a href='/'>Home</a>
      <p class="separator"> || </p>
      <a href='/about'>About</a>
    </nav>   
  </footer>
</body>
</html>   
