<body>
  <% @blog_posts.each do |blog_post| %>
    <div class="blog_post">
    <p class="blog_post_title"><%= blog_post.title %></p>  
    <small>Created by <%= blog_post.author %> at <%= blog_post.created_at %></small>
    <p><%= blog_post.content %></p>
    </div>
  <% end %>

  <small><a href="/submit_post">Submit a new entry!</a></small>
</body>
