<div class="error">
  <p>There was an error in sending your message! Causes might be:</p>
  <ul>
    <li>The email field can't be empty.</li>
    <li>The content field can't be empty.</li>
  </ul>
</div>
<p><a href="/about">Go back</a></p>
