<h1>New Entry Submission</h1>

<form class="blog_post" action="/submit_post/post_sent" method="post">
    <div>
      <label for="author">Your Name: <span id="needed">*</span></label>
      <input type="text" name="author">
    </div>

    <div>
      <label for="title">Title: <spain id="needed">*</span></label>
      <input type="text" name="title">
    </div>

    <div>
      <label for="content">Content: <span id="needed">*</span></label>
      <br>
      <textarea name="content"></textarea>
    </div>
    
    <input type="submit" value="Submit your entry!">
<form>
